html, body {
	width: 100%;
	height: 100%;
    overflow-x: hidden;
	color: white;
	background-color: Orange;
	background: url(images/backgrounds/orange_background_01.jpg) fixed center;
}
#login{
	top: 300px;
}

#fuser{
	top: 30px;
	width: 140%;
	height: 120%;
}
#fpass{
	top: 30px;
	width: 140%;
	height: 120%;
}
